.HighBox{
  padding-top: 10px;
}
.HighlightBox{
  margin-left: 28%;
}
.out{
  max-width: 100%;
  margin:  auto;
  display: flex;
  margin-left: 460px auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.different{
  color: black;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid black;
  margin-top: 25px;
  float: left;
  white-space: nowrap;
  height: 650px;
  width: 500px;
}

.bgBox{
    background-color: black;
    width: 98%;
    height: 350px;
    padding: 20px;
    margin: 20px;
  }


.categories {
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
}

.categoriesDescription{
    text-align: center;
}

.centerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }

.flat-button1 {
    color: black;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid black;
    margin-top: 25px;
    float: left;
    white-space: nowrap;
}

.HomeGoods {
    text-align: left;
    padding-left: 160px;
}
.HomeGoodsBox {
    background-color: lightgrey;
    width: 400px;
    height: 275px;
    padding: 50px;
    margin: 20px;
  }

.Technology{
    text-align: center;
}

.TechnologyBox {
    background-color: lightgrey;
    width: 400px;
    height: 275px;
    padding: 50px;
    margin: 20px;
  }
  .centerTechBox {
    margin-top: -339px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.Books{
    text-align: right;
    padding-right: 200px;
}

.BooksBox {
    background-color: lightgrey;
    width: 400px;
    height: 275px;
    padding: 50px;
    margin: 20px;
  }

.centerBooksBox {
  margin-top: -339px;
  display: flex;
  justify-content: right;
  align-items: right;
}

.posts {
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
}

.postsDescription{
    text-align: center;
}

.Post1{
  margin-top: 4%;
  margin-left: 40px;
}
.Post1Box{
  background-color: lightgrey;
  width: 300px;
  height: 400px;
  padding: 50px;
  margin: 20px;
}

.Post2 {
  margin-top: -475px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Post2Box{
  background-color: lightgrey;
  width: 300px;
  height: 400px;
  padding: 50px;
  margin: 20px;
}

.Post3 {
  margin-top: -405px;
  margin-right: 40px;
  display: flex;
  justify-content: right;
  align-items: right;
}
.Post3Box{
  background-color: lightgrey;
  width: 300px;
  height: 400px;
  padding: 50px;
  margin: 20px;
}


.auctions {
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
}

.auctionsDescription{
    text-align: center;
}


.Auction1{
  margin-top: 4%;
  margin-left: 40px;
}
.Auction1Box{
  background-color: lightgrey;
  width: 300px;
  height: 400px;
  padding: 50px;
  margin: 20px;
}

.Auction2 {
  margin-top: -475px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Auction2Box{
  background-color: lightgrey;
  width: 300px;
  height: 400px;
  padding: 50px;
  margin: 20px;
}

.Auction3 {
  margin-right: 40px;
  margin-top: -405px;
  display: flex;
  justify-content: right;
  align-items: right;
}
.Auction3Box{
  background-color: lightgrey;
  width: 300px;
  height: 400px;
  padding: 50px;
  margin: 20px;
}


